@font-face {
	font-family: 'fitness-icons';
	src: url('../fonts/fitness-icons.woff2?72551506') format('woff2'),
		  url('../fonts/fitness-icons.woff?72551506') format('woff');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: "fitness-icons";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	text-align: center;

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1;

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before { content: '\f099'; }
.icon-facebook:before { content: '\f09a'; }
.icon-gplus:before { content: '\f0d5'; }
.icon-linkedin:before { content: '\f0e1'; }
.icon-quote-left:before { content: '\f10d'; }
.icon-behance:before { content: '\f1b4'; }
