/* =========================================================
	BASE
	========================================================= */

/* VARIABLES */

:root {
	--base-font-family: "Source Sans Pro", sans-serif;
	--alternate-font-family: "Lora", serif;
	--base-font-size: 16px;
	--site-padding: 15px;
	--nav-height: 90px;
	--int-elem-padding: 15px;
}

/* SETUP */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;

	font-family: var(--base-font-family);
	font-size: var(--base-font-size);
	background-color: #999;
}

img {
	max-width: 100%;
}

/* COMMON STYLES */

/* %container */

.container {
	margin: auto;
	padding-right: var(--site-padding);
	padding-left: var(--site-padding);
}

/* hide semantic elements */

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* CLEARFIX */

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

/* =========================================================
	MODULE
	========================================================= */

/* CONTAINER */

.container {
	max-width: 1170px;
}

/* PAGE */

.page__title {
	margin-top: 0;
	margin-bottom: 30px;

	font-size: 30px;
	font-weight: 600;
	line-height: 1.15;
	letter-spacing: 6px;
	color: #fff;
	text-transform: uppercase;
}

.page__title_dark {
	color: #333;
}

.page__desc {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.25;
	letter-spacing: 0.4px;
	color: #707070;
}

.page__paragraph {
	margin: 0;
}

.page__paragraph:not(:last-child) {
	margin-bottom: 10px;
}

.page__link {
	color: #337ab7;
	text-decoration: none;
}

.page__link:hover,
.page__link:focus {
	color: #23527c;
}

/* SLIDE GRID */

.slide-grid::after {
	content: '';
	display: table;
	clear: both;
}

.slide-grid__item {
	float: left;
	width: 50%;
}

/* BUTTON */

a.button {
	text-decoration: none;
}

button.button {
	font-family: inherit;
	cursor: pointer;
}

.button {
	display: inline-block;
	vertical-align: middle;

	padding: 16px 38px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: 4px;
	color: #fff;
	background-color: #26253a;
	text-transform: uppercase;

	-webkit-transition: color .4s ease-in-out,
							  background-color .4s ease-in-out;
			  transition: color .4s ease-in-out,
							  background-color .4s ease-in-out;
}

.button:hover,
.button:focus {
	color: #26253a;
	background-color: #fff;
}


/* NAVIGATION */

.nav {
	font-size: 0;
}

.nav__content {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

.nav__item {
	display: inline-block;
	vertical-align: middle;
}

.nav__link {
	display: inline-block;

	/* removes gap */
	vertical-align: middle;

	font-size: 24px;
	font-weight: 300;
	color: #999;
	letter-spacing: 0.6px;
	text-decoration: none;
	text-transform: capitalize;

	-webkit-transition: color .4s ease-in-out;
			  transition: color .4s ease-in-out;
}

.nav__link:hover,
.nav__link:focus {
	color: #000;
}

/* LOGO */

a.logo {
	text-decoration: none;
}

h1.logo {
	cursor: default;
}

.logo {
	margin: 0;

	font-size: 36px;
	font-weight: 600;
	line-height: 1.15;
	color: #505050;
}


/* =========================================================
	LAYOUT
	========================================================= */

/* TOPLINE */

.topline {
	position: fixed;
	z-index: 800;
	top: 0; left: 0;
	width: 100%;

	height: var(--nav-height);
	background-color: #fff;
	border-bottom: 2px solid rgba(0, 0, 0, 0.04);
}

.topline__logo {
	float: left;
	padding-top: 25px;

	margin-left: calc(-1 * var(--int-elem-padding));
	padding-right: var(--int-elem-padding);
	padding-left: var(--int-elem-padding);
}

.topline__nav {
	float: right;
	margin-right: calc(-1 * var(--int-elem-padding));
	line-height: var(--nav-height);
}

.topline__nav .nav__link {
	padding-right: var(--int-elem-padding);
	padding-left: var(--int-elem-padding);
}

/* HERO */

.hero {
	display: table;
	width: 100%;
	height: 100vh;

	background: url(../img/bg-hero-1.jpg) #0c0c0c no-repeat center / cover;
}

.hero__content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;

	color: #fff;
}

.hero__prelude {
	margin-top: 0;
	margin-bottom: 30px;

	font: italic normal 700 24px/1.5 var(--alternate-font-family);
	letter-spacing: 2px;
}

.hero__title {
	margin-bottom: 40px;

	font-size: 45px;
	line-height: 65px;
	letter-spacing: 10px;
}

.hero__button {
	color: #999;
}

/* OVERVIEW */

.overview {
	padding-top: 140px;
	padding-bottom: 140px;
	background-color: #fff;
}

.overview__img-wrapper {
	position: relative;
	z-index: 200;

	padding-right: 15px;
	padding-bottom: 60px;
}

.overview__img {
	padding: 20px 20px 40px;
	border: 4px solid #f9f9f9;

	/* removes gap */
	vertical-align: middle;
}

.overview__img-label {
	position: absolute;
	z-index: 200;
	bottom: 0; left: 80px;

	margin: 0;
	padding: 60px 50px;

	font: italic normal 700 20px/1.4 var(--alternate-font-family);
	word-spacing: 1px;
	letter-spacing: 1px;
	color: #333;
	background-color: #fff;
	border-left: 8px solid #26253a;
	box-shadow: 0px 2px 8px 10px rgba(50, 50, 50, 0.04);
}

.overview__content {
	padding: 60px 9% 0;
}

.overview__button-wrapper {
	margin-top: 40px;
}

.overview__button {
	padding: 14px 46px;

	font-size: 22px;
	color: #333;
	background-color: transparent;
	border: 4px solid #26253a;
}

.overview__button:hover,
.overview__button:focus {
	color: #fff;
	background-color: #26253a;
}
